<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
  
    <Console name="console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{ISO8601} [%t] %-5level %logger{36} -(%F-%L)- %msg%n"/>
    </Console>
   
    <File name="file" fileName="C:\Users\bayram\Desktop\deneme.log">
    	<PatternLayout pattern="%d{ISO8601} [%t] %-5level %logger{36} -(%F-%L)- %msg%n"/>
    </File>
    
    
  </Appenders>
   	 <Loggers>
  	 	 <Root level="TRACE">
   		   <AppenderRef ref="console"/>
   		</Root>	 		  
  	</Loggers>
  	
  
  
</Configuration>

